// $primaryColor: #424e64;
// $secondaryColor: #bbc2ca;
// $fontColor: #35373a;
// $accent: #f1c517;

$primaryColor: #66000a;
$secondaryColor: #ccccb8;
$fontColor: #331912;
$accent: #8c8c38;

$gutter: 2%;

$defaultFont: 'Lato', sans-serif;
$nw:400;
$bw:700;


$gutterdbl: (2 * $gutter);